body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    font-size: 22px;
    cursor: default;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signInSec {
    display: flex;
    flex-direction: column; 
    border: solid 2px black;
    border-radius: 6px;
    height: 600px;
    width: 500px;
    margin: 20px 0 50px 0;
}

.signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
    height: 100px;
    /* border: solid 2px gold; */
    font-size: 28px;
    font-weight: 600;
    cursor: default;
}

.userForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 50px 0 50px;
    justify-content: center;
    width: 500px;
    height: 250px;
}   

#username, #password {
    box-sizing: border-box;
    width: 400px;
    height: 60px;
    border: solid 3px rgb(119, 118, 118);
    border-radius: 10px;
    font-size: 18px;
}

.checkStay {
    /* display: flex;
    flex-direction: row; */
    font-size: 14px;
    padding: 5px 0 5px 0;
    color: rgb(36, 36, 36);
    cursor: default;
    /* border: solid 2px greenyellow; */
}

.signInButton {
display: flex;
flex-direction: column;
align-items: center;
}

#signInButton {
    font-size: 21px;
    width: 60px;
    height: 60px;
    background-color: #d13639;
    border: solid 2px #d13639;
    border-radius: 20px;
    color: white;
}

#signInButton:hover {
    background-color: #b42e30;
    border: solid 2px #b32e30;
    cursor: pointer;
}

.cantSignIn, .createAcc 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.cantSignIn{
    padding: 40px 0 5px 0;
}

a {
    color: rgb(65, 64, 64);
    cursor: pointer;  
    text-decoration: none;   
}
a:hover {
    color: rgb(12, 12, 12);
}

a:visited {
    text-decoration: none;
}

.bottomPage {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(2,50px );
}

.footer {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 20px;
    padding-left: 20px ;
}

.remarks {
    display: flex;
    flex-direction: row;
    height: 60px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border: solid 2px gray;
}

